{% extends 'base.html' %}

{% block content %}

<header>
    <a href="{% url 'create_account' %}">Create Account</a>
    <a href="{% url 'create_category' %}">Create Category</a>
    <a href="{% url 'create_receipt' %}">Create Receipt</a>
    <a href="{% url 'account_list' %}">Account List</a>
    <a href="{% url 'category_list' %}">Category list</a>
</header>
<main>
    <div>
        <h1>My Categories</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
