<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
</head>
<header>
    <a href="{% url 'create_account' %}">Create Account</a>
    <a href="{% url 'create_category' %}">Create Category</a>
    <a href="{% url 'create_receipt' %}">Create Receipt</a>
    <a href="{% url 'account_list' %}">Account List</a>
    <a href="{% url 'category_list' %}">Category list</a>
</header>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>
